{% extends "base.html" %}

{% block title %}
Home
{% endblock title %}

{% block content %}
{% comment %} <section class="section-space premium-wrap">
    <div class="container">
        <ul class="decoration">
            <li class="flower-gif">
                <div class="mesh-loader">
                    <div class="set-one">
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </div>
                    <div class="set-two">
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </div>
                </div>
            </li>
            <li class="wavy-gif">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 251 38">
                    <path fill="none" stroke-width="10" stroke-miterlimit="10"
                        d="M0,9C17.93,9,17.93,29,35.85,29S53.78,9,71.71,9s17.92,20,35.85,20S125.49,9,143.42,9s17.93,20,35.86,20S197.21,9,215.14,9,233.07,29,251,29">
                    </path>
                </svg>
            </li>
        </ul>
        <div class="row justify-content-center">
            <div class="col-sm-12">
                <div class="landing-title">
                    <h5 class="sub-title">Natural Radiance, Timeless Beauty</h5>
                    <h2> <span class="gradient-1">Benefits </span>of Kumkumadi Oil</h2>
                    <p>Kumkumadi oil is an Ayurvedic elixir crafted to rejuvenate and illuminate your skin. A blend of
                        saffron and 25 other potent herbs, it brightens complexion, reduces signs of aging, and treats a
                        variety of skin concerns. Your path to golden, glowing skin begins here.</p>
                </div>
            </div>
            <div class="col-xxl-12">
                <div class="row g-lg-5 g-3 justify-content-center">
                    <div class="col-md-4 col-6">
                        <div class="customer-wrapper">
                            <div class="customer-box"> <img
                                    src="https://admin.pixelstrap.com/cuba/assets/images/landing/customers/1.svg"
                                    alt="">
                                <h6 class="f-light mb-0 mt-2">Saffron</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                        <div class="customer-wrapper">
                            <div class="customer-box"> <img
                                    src="https://admin.pixelstrap.com/cuba/assets/images/landing/customers/1.svg"
                                    alt="">
                                <h6 class="f-light mb-0 mt-2">Manjistha</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                        <div class="customer-wrapper">
                            <div class="customer-box"> <img
                                    src="https://admin.pixelstrap.com/cuba/assets/images/landing/customers/1.svg"
                                    alt="">
                                <h6 class="f-light mb-0 mt-2">Yashtimadhu</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                        <div class="customer-wrapper">
                            <div class="customer-box"> <img
                                    src="https://admin.pixelstrap.com/cuba/assets/images/landing/customers/1.svg"
                                    alt="">
                                <h6 class="f-light mb-0 mt-2">Sandalwood</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                        <div class="customer-wrapper">
                            <div class="customer-box"> <img
                                    src="https://admin.pixelstrap.com/cuba/assets/images/landing/customers/1.svg"
                                    alt="">
                                <h6 class="f-light mb-0 mt-2">Laksha or lac</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> {% endcomment %}

<section class="section-space framework-section" id="frameworks">
    <div class="container">
        <ul class="decoration">
            <li class="loader-line-gif"><img src="/static/assets/images/landing/gifs/6.gif" alt=""></li>
            <li class="wavy-gif">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 251 38">
                    <path fill="none" stroke-width="10" stroke-miterlimit="10"
                        d="M0,9C17.93,9,17.93,29,35.85,29S53.78,9,71.71,9s17.92,20,35.85,20S125.49,9,143.42,9s17.93,20,35.86,20S197.21,9,215.14,9,233.07,29,251,29">
                    </path>
                </svg>
            </li>
        </ul>
        <div class="row">
            <div class="col-sm-12">
                <div class="landing-title">
                    <h5 class="sub-title custom-sub-title-font">Natural Radiance, Timeless Beauty</h5>
                    <h2 class="custom-title-font">From Earth to Skin - Pure, Safe, Effective.</h2>
                    <p>The Earth provides everything we need for radiant skin.</p>
                </div>
            </div>
            <div class="col-sm-12">
                {% comment %} <ul class="nav nav-tabs frame-tab" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="html-tab" data-bs-toggle="tab" data-bs-target="#html"
                            type="button" role="tab" aria-controls="html" aria-selected="true"><img
                                src="/static/assets/images/landing/icon/html/html.png" alt=""><span>HTML</span></button>
                    </li>

                </ul> {% endcomment %}
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="html" role="tabpanel" aria-labelledby="html-tab">
                        <div class="row g-xxl-5 g-4">
                            <div class="col-xxl-4 col-md-6">
                                <div class="framework-box">
                                    <div class="frame-icon"> <img src="/static/assets/Ingredients/scandalwood.png"
                                            alt=""></div>
                                    <div class="frame-details">
                                        <h5>Sandalwood</h5>
                                        <p class="f-light">
                                            Chandan, or sandalwood, is a revered natural ingredient known for its
                                            soothing, anti-inflammatory, and skin-brightening properties. It deeply
                                            nourishes, reduces acne, evens skin tone, and imparts a natural glow.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-md-6">
                                <div class="framework-box">
                                    <div class="frame-icon"> <img
                                            src="/static/assets/Ingredients/Artemisia Pallens.png" alt=""></div>
                                    <div class="frame-details">
                                        <h5>Artemisia Pallens (दवणा)</h5>
                                        <p class="f-light">
                                            Artemisia Pallens, also known as Davana, is a fragrant herb known for its
                                            calming properties. It soothes skin, balances oil, reduces blemishes, and
                                            provides a refreshing, natural glow to the skin.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-md-6">
                                <div class="framework-box">
                                    <div class="frame-icon"> <img src="/static/assets/Ingredients/kapur kachari.png"
                                            alt=""></div>
                                    <div class="frame-details">
                                        <h5>Kapur Kachri</h5>
                                        <p class="f-light">
                                            Kapur Kachri, or Spiked Ginger Lily, is a powerful natural ingredient prized
                                            for promoting hair growth, reducing dandruff, and strengthening roots. It
                                            adds volume, shine, and health to hair naturally.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-md-6">
                                <div class="framework-box">
                                    <div class="frame-icon"> <img src="/static/assets/Ingredients/Jatamansi.webp"
                                            alt=""></div>
                                    <div class="frame-details">
                                        <h5>jatamansi</h5>
                                        <p class="f-light">
                                            Jatamansi, or Indian Valerian, is a revered herb known for its calming,
                                            anti-inflammatory, and skin-brightening properties. It deeply nourishes,
                                            reduces acne, evens skin tone, and imparts a natural glow.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-md-6">
                                <div class="framework-box">
                                    <div class="frame-icon"> <img src="/static/assets/Ingredients/patchouli.webp"
                                            alt=""></div>
                                    <div class="frame-details">
                                        <h5>Patchouli</h5>
                                        <p class="f-light">Patchouli is an aromatic herb known for its rich, earthy fragrance with hints of sweetness and spice. Widely used in perfumes, incense, and essential oils, it’s popular for its grounding, calming qualities.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-md-6">
                                <div class="framework-box">
                                    <div class="frame-icon"> <img
                                            src="/static/assets/Ingredients/tulsi.png" alt=""></div>
                                    <div class="frame-details">
                                        <h5>Tulsi</h5>
                                        <p class="f-light">
                                            Tulsi, or Holy Basil, is a revered herb in Ayurvedic medicine, celebrated for its medicinal properties. Known for boosting immunity and relieving stress, it offers a peppery, aromatic flavor in teas and remedies.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-md-6">
                                <div class="framework-box">
                                    <div class="frame-icon"> <img src="/static/assets/Ingredients/Turmeric.png"
                                            alt=""></div>
                                    <div class="frame-details">
                                        <h5>Haldi</h5>
                                        <p class="f-light">
                                            Haldi, or turmeric, is a golden-yellow spice prized in cosmetics for its anti-inflammatory and antioxidant properties. It brightens skin, reduces blemishes, and promotes a natural glow, enhancing overall skin health.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-md-6">
                                <div class="framework-box">
                                    <div class="frame-icon"> <img src="/static/assets/Ingredients/Saffron.png"
                                            alt=""></div>
                                    <div class="frame-details">
                                        <h5>Kesar</h5>
                                        <p class="f-light">
                                            Kesar, or saffron, is a luxurious spice known for its vibrant color and delicate aroma. Rich in antioxidants, it’s used in culinary and beauty applications, enhancing flavors, radiance, and skin tone.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-md-6">
                                <div class="framework-box">
                                    <div class="frame-icon"> <img src="/static/assets/Ingredients/swet chandan.png"
                                            alt=""></div>
                                    <div class="frame-details">
                                        <h5>Swet Chandan</h5>
                                        <p class="f-light">
                                            Swet Chandan, or white sandalwood, is cherished in cosmetics for its soothing, aromatic qualities. It gently brightens skin, reduces blemishes, and provides a cooling effect, promoting a radiant, balanced complexion.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-md-6">
                                <div class="framework-box">
                                    <div class="frame-icon"> <img src="/static/assets/Ingredients/rakt chandan.webp"
                                            alt=""></div>
                                    <div class="frame-details">
                                        <h5>Rakt Chandan</h5>
                                        <p class="f-light">
                                            Rakt Chandan, or red sandalwood, is valued in cosmetics for its healing and skin-enhancing properties. It reduces pigmentation, soothes inflammation, and imparts a natural glow, making skin look healthy and rejuvenated.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-md-6">
                                <div class="framework-box">
                                    <div class="frame-icon"> <img
                                            src="/static/assets/Ingredients/lodhra.webp" alt=""></div>
                                    <div class="frame-details">
                                        <h5>Lodhra(Symplocos)</h5>
                                        <p class="f-light">Symplocos, known as Lodhra, is a traditional herb in cosmetics celebrated for its skin-firming and clarifying effects. It reduces acne, tightens pores, and promotes an even-toned, radiant complexion naturally.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-md-6">
                                <div class="framework-box">
                                    <div class="frame-icon"> <img
                                            src="/static/assets/Ingredients/agaru.webp" alt=""></div>
                                    <div class="frame-details">
                                        <h5>Agaru(Aquilaria malaccensis)</h5>
                                        <p class="f-light">Aquilaria malaccensis, or agaru, is prized in cosmetics for its rich, woody fragrance and skin-nourishing properties. It hydrates, revitalizes skin, and offers a soothing effect, enhancing overall beauty and radiance.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-md-6">
                                <div class="framework-box">
                                    <div class="frame-icon"> <img
                                            src="/static/assets/Ingredients/SugandhiValo.png" alt=""></div>
                                    <div class="frame-details">
                                        <h5>sugandhi valo</h5>
                                        <p class="f-light">Sugandhi valo, or aromatic vetiver, is cherished in cosmetics for its calming scent and skin-nourishing properties. It hydrates, balances oily skin, and promotes relaxation, enhancing overall skin health and well-being.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-md-6">
                                <div class="framework-box">
                                    <div class="frame-icon"> <img
                                            src="/static/assets/Ingredients/Liquorice.png" alt=""></div>
                                    <div class="frame-details">
                                        <h5>Liquorice(Jethimadh)</h5>
                                        <p class="f-light">Liquorice, known for its sweet flavor, is valued in cosmetics for its skin-brightening and soothing properties. It helps reduce dark spots, evens skin tone, and provides anti-inflammatory benefits for sensitive skin.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-md-6">
                                <div class="framework-box">
                                    <div class="frame-icon"> <img
                                            src="/static/assets/Ingredients/Taj Patra.jpg" alt=""></div>
                                    <div class="frame-details">
                                        <h5>Taj Patra</h5>
                                        <p class="f-light">Taj Patra, or bay leaf, is valued in cosmetics for its antioxidant and antibacterial properties. It helps purify skin, reduce blemishes, and soothe irritation, promoting a clear and healthy complexion.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-space cuba-demo-section layout p-0" id="layout">
    <div class="container">
        <ul class="decoration">
            <li class="line-gif"><img src="/static/assets/images/landing/gifs/3.gif" alt=""></li>
            <li class="wavy-line-gif"><img src="/static/assets/images/landing/gifs/4.gif" alt=""></li>
        </ul>
        <div class="row">
            <div class="col-sm-12 wow pulse">
                <div class="cuba-demo-content">
                    <div class="couting">
                        <h2>8+</h2>
                    </div>
                    <div class="landing-title">
                        <h5 class="sub-title custom-sub-title-font">Pure & Eco-Friendly Beauty Collection</h5>
                        <h2 class="custom-title-font">Nature-Inspired Cosmetic Products</h2>
                        <p>Discover our collection of 8+ uniquely crafted natural cosmetics. Each product harnesses the
                            best of nature, offering safe, effective, and eco-conscious choices for your beauty routine.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-space customer-support">
    <div class="container">
        <ul class="decoration d-sm-block d-none">
            <li class="round-gif"><img src="/static/assets/images/landing/gifs/5.gif" alt=""></li>
        </ul>
        <div class="row justify-content-center">
            <div class="col-sm-12">
                <div class="landing-title text-center">

                    <h1 class="custom-title-font"> Nature’s Journey to Wellness From Problem to Natural Solution
                    </h1>
                    <p>Crafted with Nature, Delivered with Care</p>
                </div>
            </div>
            <div class="col-xxl-10">
                <div class="row customer-wrap">
                    <div class="col-md-3 col-6">
                        <div class="customer-wrapper">
                            <div class="customer-box"> <img
                                    src="/static/assets/images/process/understand.png"
                                    alt="">
                                <h6 class="f-light mb-0 mt-2">Understanding Needs</h6>
                            </div><img class="outline-box"
                                src="https://admin.pixelstrap.com/cuba/assets/images/landing/decore/arrow-style-1.svg"
                                alt="">
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="customer-wrapper">
                            <div class="customer-box"> <img
                                    src="static/assets/images/process/r&d.png"
                                    alt="">
                                <h6 class="f-light mb-0 mt-2">Research & Development</h6>
                            </div><img class="outline-box"
                                src="https://admin.pixelstrap.com/cuba/assets/images/landing/decore/arrow-style-2.svg"
                                alt="">
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="customer-wrapper">
                            <div class="customer-box"> <img
                                    src="static/assets/images/process/manufacturing.png"
                                    alt="">
                                <h6 class="f-light mb-0 mt-2">Manufacturing Process</h6>
                            </div><img class="outline-box"
                                src="https://admin.pixelstrap.com/cuba/assets/images/landing/decore/arrow-style-3.svg"
                                alt="">
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="customer-wrapper">
                            <div class="customer-box"> <img
                                    src="static/assets/images/process/qa.png"
                                    alt="">
                                <h6 class="f-light mb-0 mt-2">Quality Assurance & Testing</h6>
                            </div><img class="outline-box"
                                src="https://admin.pixelstrap.com/cuba/assets/images/landing/decore/arrow-style-4.svg"
                                alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <p>At our company, we take a holistic approach to wellness. We start by deeply understanding the unique
                    concerns of our customers, which informs our innovative research and development efforts. This
                    careful study leads to the creation of natural solutions using pure, high-quality ingredients. Our
                    manufacturing process preserves the integrity of these ingredients, ensuring that what reaches you
                    is nature’s best. Whether it’s skincare, hair care, or wellness products, we’re dedicated to
                    delivering solutions that reflect our commitment to natural health and beauty. Experience the power
                    of nature with products designed for you!</p>
            </div>
        </div>
    </div>
</section>

<section class="section-space components-section cuba-demo-section pt-0" id="components">
    <div class="container">
        <ul class="decoration">
            <li class="flower-gif">
                <div class="mesh-loader">
                    <div class="set-one">
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </div>
                    <div class="set-two">
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="row">
            <div class="col-sm-12 wow pulse">
                <div class="cuba-demo-content">
                    <div class="couting">
                        <h2>50+</h2>
                    </div>
                    <div class="landing-title">
                        <h5 class="sub-title custom-sub-title-font">Nature’s Finest Ingredients</h5>
                        <h2 class="custom-title-font">Natural Ingredients Sourced from Earth</h2>
                        <p>
                            Our products are crafted with over 50+ natural ingredients, each handpicked from pure earth
                            resources. Embrace beauty that’s enriched by nature, designed to nourish and rejuvenate with
                            safe, sustainable, and eco-friendly ingredients.
                        </p>
                    </div>
                </div>
                <div class="vector-image"> <img
                        src="/static/assets/images/landing/ingred.png" alt="vector women">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid overflow-hidden">
        <div class="row component_responsive g-3 mb-3" data-jarallax-element="0 100">
            <div class="col-xxl-2 col-lg-3 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <h6 class="m-0 Pt-4 custom-ingredient-text">Sandalwood</h6>
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <h6 class="m-0 custom-ingredient-text">Artemisia Pallens (दवणा)</h6>
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <h6 class="m-0 custom-ingredient-text">Kapur Kachri</h6>
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <h6 class="m-0 custom-ingredient-text">Jatamansi</h6>
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <h6 class="m-0 custom-ingredient-text">Patchouli</h6>
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <h6 class="m-0 custom-ingredient-text">Tulsi </h6>
                </div>
            </div>
        </div>
        <div class="row component_responsive g-3 mb-3" data-jarallax-element="0 -150">
            <div class="col-xxl-2 col-lg-3 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <h6 class="m-0 custom-ingredient-text">Haldi</h6>
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <h6 class="m-0 custom-ingredient-text">Kesar</h6>
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <h6 class="m-0 custom-ingredient-text">Swet Chandan</h6>
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <h6 class="m-0 custom-ingredient-text">Rakt Chandan</h6>
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <h6 class="m-0 custom-ingredient-text">Lodra(Symplocos)</h6>
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <h6 class="m-0 custom-ingredient-text">Agaru(Aquilaria malaccensis) </h6>
                </div>
            </div>
        </div>
        <div class="row component_responsive g-3 mb-3" data-jarallax-element="0 100">
            <div class="col-xxl-2 col-lg-3 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <h6 class="m-0 custom-ingredient-text">sugandhi valo</h6>
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <h6 class="m-0 custom-ingredient-text">Liquorice(Jethimadh)</h6>
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <h6 class="m-0 custom-ingredient-text">Patang</h6>
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <h6 class="m-0 custom-ingredient-text">Majith</h6>
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <h6 class="m-0 custom-ingredient-text">Jethimadh
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <h6 class="m-0 custom-ingredient-text">Tej Patra</h6>
                </div>
            </div>
        </div>
        <div class="row component_responsive g-3 mb-3" data-jarallax-element="0 -150">
            <div class="col-xxl-2 col-lg-3 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <h6 class="m-0 custom-ingredient-text">Padmak</h6>
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <h6 class="m-0 custom-ingredient-text">Kamal</h6>
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <h6 class="m-0 custom-ingredient-text">Kuth</h6>
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <h6 class="m-0 custom-ingredient-text">Gorochan</h6>
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <h6 class="m-0 custom-ingredient-text">Lakh</h6>
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <h6 class="m-0 custom-ingredient-text">Dara Haldi</h6>
                </div>
            </div>
        </div>
        <div class="row component_responsive g-3" data-jarallax-element="0 100">
            <div class="col-xxl-2 col-lg-3 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <h6 class="m-0 custom-ingredient-text">Mag Kesar</h6>
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <h6 class="m-0 custom-ingredient-text">Kesuda Phool</h6>
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <h6 class="m-0 custom-ingredient-text">Priyangu</h6>
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <h6 class="m-0 custom-ingredient-text">Chameli</h6>
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <h6 class="m-0 custom-ingredient-text">Rasma</h6>
                </div>
            </div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-6 component-col-set">
                <div class="component-hover-effect">
                    <h6 class="m-0 custom-ingredient-text">Vantankur</h6>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-space pt-0" id="landings">
    <div class="container-fluid fluid-space">
        <div class="row">
            <div class="col-sm-12 wow pulse">
                <div class="landing-title">
                    <h5 class="sub-title custom-sub-title-font">Feel Beautiful, Feel Natural.</h5>
                    <h2 class="custom-title-font">Discover Our Top-Selling Products</h2>
                    <p>Experience the beauty of nature with our fast-selling products, each crafted to deliver
                        exceptional results. Join countless satisfied customers who trust in the purity, effectiveness,
                        and eco-conscious quality of our natural formulations.</p>
                </div>
            </div>
        </div>
        <div class="row g-4 row-cols-xl-4 row-cols-sm-2 row-cols-1">
            <div class="col">
                <div class="app-box app-bg-1">
                    <h6><span class="app-title">Kumkumadi Oil</span><span class="line"></span></h6>
                    <div class="app-image">
                        <ul class="dot-group">
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <div class="img-effect image-height"><a href="https://admin.pixelstrap.com/cuba/landing/html/"
                                target="_blank"><img class="img-fluid cuba-img"
                                    src="/static/assets/images/product/bottle.webp" alt="nft page"></a></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="app-box app-bg-2">
                    <h6><span class="app-title">Hair Oil</span><span class="line"></span></h6>
                    <div class="app-image">
                        <ul class="dot-group">
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <div class="img-effect image-height"><a
                                href="https://admin.pixelstrap.com/cuba/landing/html/index-2.html" target="_blank"><img
                                    class="img-fluid cuba-img" src="/static/assets/images/product/bottle.webp"
                                    alt="nft page"></a></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="app-box app-bg-4">
                    <h6><span class="app-title">Brightening Pill of Mask</span><span class="line"></span></h6>
                    <div class="app-image">
                        <ul class="dot-group">
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <div class="img-effect image-height"><a
                                href="https://admin.pixelstrap.com/cuba/landing/html/index-3.html" target="_blank"><img
                                    class="img-fluid cuba-img" src="/static/assets/images/product/bottle.webp"
                                    alt="nft page"></a></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="app-box app-bg-6 h-100">
                    <h6><span class="app-title">Facial Ubtan</span><span class="line"></span></h6>
                    <div class="app-image">
                        <ul class="dot-group">
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <div class="img-effect image-height"><a
                                href="https://admin.pixelstrap.com/cuba/landing/html/index-4.html" target="_blank"><img
                                    class="img-fluid cuba-img" src="/static/assets/images/product/bottle.webp"
                                    alt="nft page"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="bottom-section-grad">
    <section class="section-space about-section pb-0">
        <div class="container-fluid fluid-space">
            <div class="row">
                <div class="col-sm-12">
                    <div class="landing-title text-center">
                        <h5 class="sub-title custom-sub-title-font">Customer Testimonials</h5>
                        <h2 class="custom-title-font">The Voices of Our Valued Customers</h2>
                        <p>We’re grateful for the trust our customers place in our natural products. Here’s what they
                            have to say about their experience with us. Your satisfaction is our priority, and we’re
                            always here to support you with any questions or assistance you may need.</p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="testimonial-slider">
                        <div class="testimonial-box common-card">
                            <div class="rating-content">
                                <ul class="d-flex ratings gap-1">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <h6 class="mb-0">Kumkumadi Oil</h6>
                            </div>
                            <p class="f-light">My skin feels radiant and flawless after using this! It’s a game-changer for my nighttime routine. Absolutely love it!</p>
                            <div class="text-end mt-2">
                                <h5>-Priya S.</h5><span class="font-primary">CUSTOMER</span>
                            </div>
                            <div class="customer-img"><img
                                    src="https://admin.pixelstrap.com/cuba/assets/images/landing/testimonial/1.svg"
                                    alt="vector men"></div>
                        </div>
                        <div class="testimonial-box common-card">
                            <div class="rating-content">
                                <ul class="d-flex ratings gap-1">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <h6 class="mb-0">Facial Ubtan</h6>
                            </div>
                            <p class="f-light">Natural glow and soft skin within days! This ubtan is perfect for a quick detox and rejuvenation. Highly recommended.</p>
                            <div class="text-end mt-2">
                                <h5>-Meera K.</h5><span class="font-primary">CUSTOMER</span>
                            </div>
                            <div class="customer-img"><img
                                    src="https://admin.pixelstrap.com/cuba/assets/images/landing/testimonial/2.svg"
                                    alt="vector men"></div>
                        </div>
                        <div class="testimonial-box common-card">
                            <div class="rating-content">
                                <ul class="d-flex ratings gap-1">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <h6 class="mb-0">Hair Oil</h6>
                            </div>
                            <p class="f-light">This hair oil worked wonders for my dull hair—so much shine and no more breakage! My hair looks healthier than ever.</p>
                            <div class="text-end mt-2">
                                <h5>-Anjali R. </h5><span class="font-primary">CUSTOMER</span>
                            </div>
                            <div class="customer-img"><img
                                    src="https://admin.pixelstrap.com/cuba/assets/images/landing/testimonial/3.svg"
                                    alt="vector women"></div>
                        </div>
                        <div class="testimonial-box common-card">
                            <div class="rating-content">
                                <ul class="d-flex ratings gap-1">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <h6 class="mb-0">Bentonite Clay</h6>
                            </div>
                            <p class="f-light">An amazing product for detoxifying my skin. My face feels fresh, clear, and super smooth after every use. Love it!</p>
                            <div class="text-end mt-2">
                                <h5>-Radhika T.</h5><span class="font-primary">CUSTOMER</span>
                            </div>
                            <div class="customer-img"><img
                                    src="https://admin.pixelstrap.com/cuba/assets/images/landing/testimonial/1.svg"
                                    alt="vector men"></div>
                        </div>
                        <div class="testimonial-box common-card">
                            <div class="rating-content">
                                <ul class="d-flex ratings gap-1">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <h6 class="mb-0">Brightening Peel-Off Mask</h6>
                            </div>
                            <p class="f-light">My go-to for instant brightness and smoothness! This peel-off mask is gentle yet effective. I can’t stop recommending it!</p>
                            <div class="text-end mt-2">
                                <h5>Sneha L.</h5><span class="font-primary">CUSTOMER</span>
                            </div>
                            <div class="customer-img"><img
                                    src="https://admin.pixelstrap.com/cuba/assets/images/landing/testimonial/2.svg"
                                    alt="vector men"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endblock content %}