{% extends "base.html" %}
{% load static %}

{% block title %}
About Us
{% endblock title %}

{% block top-content %}
  <div class="row justify-content-center">
      <div class="col-lg-8 col-sm-10">
          <div class="content text-center">
              <div>
                  <h6 class="content-title"><img class="arrow-decore"
                      src="https://admin.pixelstrap.com/cuba/assets/images/landing/decore/arrow.svg" alt="">
                      <span class="sub-title mb-5 custom-sub-title-font">About Us</span>
                  </h6>
                  {% comment %} <h1 class="wow fadeIn">Kumkumadi Oil</h1> {% endcomment %}
              </div>
          </div>
      </div>
      <div class="col-xl-7 col-lg-8 col-md-10 text-center">
          {% comment %} <img class="screen1 img-fluid" style="max-width: 60% !important;"
              src="/static/assets/images/landing/screen5.webp" alt=""> {% endcomment %}
      </div>
  </div>
{% endblock top-content %}

{% block content %}
<div class="page-wrapper compact-wrapper" id="pageWrapper">


    <div class="container-fluid">
        <div>

            <div class="row product-page-main p-0">
                <div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 w-full">
                                    <div class="">
                                        <h5 class="sub-title custom-sub-title-font text-center">About for website</h5>
                                    </div>
                                    <h4 class="mt-3 text-center">Our journey began when we delved into the rich knowledge of Ayurveda, discovering its incredible benefits for addressing various skin concerns.</h4>
                                    <h4 class="mt-3 text-center">At Akshada Ayurveda, we blend natural ingredients with advanced scientific formulations to create effective, results-driven solutions tailored for Indian skin and various other skin concerns.</h4>
                                    <h4 class="mt-3 text-center">This synergy takes skincare to an entirely new level.</h4>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>    
    
            <div class="landing-title text-center my-5">
                <h5 class="sub-title custom-sub-title-font">By choosing Akshada Ayurveda, under Ashtvinayak Health Care, you embrace our commitment to delivering natural, effective, and holistic skincare solutions crafted with care and rooted in Ayurveda.</h5>
                <h2 class="custom-title-font">Akshada Ayurveda</h2>
                <p>Under Ashtvinayak Health Care</p>
            </div>
    
        </div>
    </div>
</div>
{% endblock content %}
