{% extends "base.html" %}
{% load static %}

{% block title %}
Benetonite Clay Mask
{% endblock title %}



{% block top-content %}
  <div class="row justify-content-center">
      <div class="col-lg-8 col-sm-10">
          <div class="content text-center">
              <div>
                  <h6 class="content-title"><img class="arrow-decore"
                      src="https://admin.pixelstrap.com/cuba/assets/images/landing/decore/arrow.svg" alt="">
                      <span class="sub-title mb-5 custom-sub-title-font">Discover Natural and Modern Skincare</span>
                  </h6>
                  {% comment %} <h1 class="wow fadeIn">Kumkumadi Oil</h1> {% endcomment %}
              </div>
          </div>
      </div>
      <div class="col-xl-7 col-lg-8 col-md-10 text-center">
          {% comment %} <img class="screen1 img-fluid" style="max-width: 60% !important;"
              src="/static/assets/images/landing/screen5.webp" alt=""> {% endcomment %}
      </div>
  </div>
{% endblock top-content %}

{% block content %}
<div class="page-wrapper compact-wrapper" id="pageWrapper">


    <div class="container-fluid">
        <div>
            <div class="row product-page-main p-0">
                <div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="product-slider owl-carousel owl-theme" id="sync1">
                                        <div class="item d-flex justify-content-center">
                                            <figure class="h-50 w-50"
                                                style="background-image: url(../assets/images/ecommerce/01.jpg)">
                                                <img class="img-fluid" style="max-height: 300px !important;" src="{% static 'assets/images/ecommerce/01.jpg' %}"
                                                    alt="user">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 w-full">
                                    <div class="landing-title">
                                        {% comment %} <h3>Women's Top</h3> {% endcomment %}
                                        <h2><span class="custom-title-font">Benetonite Clay Mask</span></h2>
                                    </div>
                                    <p>Calcium Bentonite Clay is a natural, healing clay derived from volcanic ash deposits, primarily composed of montmorillonite. It is known for its potent detoxifying and cleansing properties due to its high absorption capability. When mixed with water or other liquids, the clay has a negative electrical charge that attracts positively charged toxins, heavy metals, and impurities from the body, making it popular for internal and external uses.</p>
                                    <p> • Appearance: Light gray or cream-colored with a very fine, velvety texture. </p>
                                    <p> • Composition: Primarily calcium, silica, magnesium, potassium, and iron. </p>
                                    <p> • pH Level: Alkaline, around 9-10. </p>
                                    <p> • Consistency: When mixed with liquid, it forms a thick paste that can be applied to the skin. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
    
            <div class="card">
                <div class="card-header card-no-border">
                    <div class="header-top">
                        <h5 class="custom-title-font">Key Ingredients and Benefits</h5>
                        {% comment %} <div class="card-header-right-btn"><a class="c-o-light" href="#!">View
                                All </a></div> {% endcomment %}
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div class="slider-wrapper arrow-round">
                        <div class="swiper shop-category-slider mx-3">
                            <div class="swiper-wrapper d-flex justify-content-between">
                                <div class="swiper-slide mx-2">
                                    <a class="shop-box" href="#!">
                                        <img class="h-50 w-50" src="{% static 'assets/Ingredients/scandalwood.png' %}" alt="phone">
                                    </a>
                                    <span class="m-t-10 category-title f-w-500 text-gray">ScandalWood</span>
                                </div>
                                <div class="swiper-slide mx-2">
                                    <a class="shop-box" href="#!">
                                        <img class="h-50 w-50" src="{% static 'assets/Ingredients/Saffron.png' %}" alt="Camera">
                                    </a>
                                    <span class="m-t-10 category-title f-w-500 text-gray">Kesar (Saffron)</span>
                                </div>
                                <div class="swiper-slide mx-2">
                                    <a class="shop-box" href="#!">
                                        <img class="h-75 w-75" src="{% static 'assets/Ingredients/Turmeric.png' %}" alt="phone">
                                    </a>
                                    <span class="m-t-10 category-title f-w-500 text-gray">Turmeric</span>
                                </div>
                                <div class="swiper-slide mx-2">
                                    <a class="shop-box" href="#!">
                                        <img class="h-75 w-75" src="{% static 'assets/Ingredients/Jasmine.png' %}" alt="Camera">
                                    </a>
                                    <span class="m-t-10 category-title f-w-500 text-gray">Chameli (Jasmine)</span>
                                </div>
                                <div class="swiper-slide mx-2">
                                    <a class="shop-box" href="#!">
                                        <img class="h-100 w-100" src="{% static 'assets/Ingredients/BlackMustardSeed.png' %}" alt="phone">
                                    </a>
                                    <span class="m-t-10 category-title f-w-500 text-gray">Min Sarsav (Black Mustard Seed)</span>
                                </div>
                                <div class="swiper-slide mx-2">
                                    <a class="shop-box" href="#!">
                                        <img class="h-75 w-75" src="{% static 'assets/Ingredients/Lotus.png' %}" alt="Camera">
                                    </a>
                                    <span class="m-t-10 category-title f-w-500 text-gray">Lotus</span>
                                </div>
                                <div class="swiper-slide mx-2">
                                    <a class="shop-box" href="#!">
                                        <img class="h-75 w-75" src="{% static 'assets/Ingredients/SesameSeedOil.png' %}" alt="phone">
                                    </a>
                                    <span class="m-t-10 category-title f-w-500 text-gray">Sesame Seed Oil</span>
                                </div>
                                <div class="swiper-slide mx-2">
                                    <a class="shop-box" href="#!">
                                        <img class="h-75 w-75" src="{% static 'assets/Ingredients/SugandhiValo.png' %}" alt="Camera">
                                    </a>
                                    <span class="m-t-10 category-title f-w-500 text-gray">Sugandhi Valo (Vetiver)</span>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row my-5 mx-4">
                <div class="col-md-6">
                    <div class=" text-center">
                        <h5 class="sub-title mb-4 custom-sub-title-font">Benefits of Benetonite Clay Mask</h5>
                        <p class="f-24 mb-4 custom-title-font">
                            Calcium Bentonite Clay is a versatile natural remedy known for detoxifying skin and digestion, absorbing oils, soothing inflammation, enhancing skin tone, balancing pH, and supporting oral and digestive health.
                        </p>
                        <p> • Detoxifying Agent: It draws out impurities and toxins from the skin and digestive system, making it a strong detoxification agent. </p>
                        <p> • Absorbs Excess Oil: Excellent for oily and acne-prone skin as it absorbs excess sebum, reducing shine and preventing clogged pores. </p>
                        <p> • Exfoliation: Gently removes dead skin cells, revealing a smoother and clearer complexion. </p>
                        <p> • Anti-inflammatory: Helps soothe inflammation, redness, and irritation, making it suitable for sensitive skin. </p>
                        <p> • Improves Skin Tone: Tightens and tones the skin, reducing the appearance of large pores and giving a more even skin tone. </p>
                        <p> • Supports Digestive Health: When taken internally, it helps with issues like bloating, gas, and digestive upset by binding toxins and waste products. </p>
                        <p> • Balances pH Levels: Due to its alkalinity, it can help neutralize acidic substances in the body, promoting a balanced internal environment. </p>
                        <p> • Oral Health: It can be used as a natural toothpaste to remove bacteria and plaque. </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product-slider owl-carousel owl-theme" id="sync1">
                        <div class="item">
                            <figure class="">
                                <img class="img-fluid" src="{% static 'assets/images/landing/benetonite_clay.png' %}" alt="user">
                            </figure>
                        </div>
                    </div>
                </div>
                {% comment %} <p class="f-24 custom-title-font text-center">
                    This oil can be applied directly to the face or mixed with a moisturizer. Regular use,
                    especially at night, helps restore a youthful glow and a healthy complexion.
                </p> {% endcomment %}
            </div>

            <div class="landing-title text-center my-5">
                <h5 class="sub-title custom-sub-title-font">Your Guide to Radiant Skin</h5>
                <h2 class="custom-title-font">Comprehensive Guide - Using, Storing, Timing.</h2>
                <p>Here is a comprehensive guide on using, storing, and timing the application of Benetonite Clay Mask to maximize
                    its benefits</p>
            </div>
    
            <div class="row my-5 mx-4">
                <div class="col-md-6">
                    <div class="product-slider owl-carousel owl-theme" id="sync1">
                        <div class="item">
                            <figure class="text-center">
                                <img class="img-fluid" style="max-height: 322px !important;" src="{% static 'assets/images/landing/benetonite_clay_apply.jpg' %}" alt="user">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h1 class="mb-4 custom-title-font"> How to Use </h1>
                    <h5 class="sub-title custom-sub-title-font">For External Use</h5>
    
                    <div class="info-part">
                        <h6>1 Face Mask:</h6>
                        <p class="c-o-light">Mix 1-2 teaspoons of calcium bentonite clay with equal parts of water or apple cider vinegar to form a smooth paste.</p>
                        <p class="c-o-light">Apply the paste evenly to your face or other skin areas, avoiding the eyes and sensitive areas.</p>
                        <p class="c-o-light">Leave it on for 10-20 minutes (10 minutes for sensitive skin, up to 20 minutes for normal skin).</p>
                        <p class="c-o-light">Rinse with warm water and pat dry.</p>
                        <p class="c-o-light">Use 1-2 times per week to maintain clear and smooth skin.</p>
                    </div>
                    <div class="info-part">
                        <h6>2 Body Wrap:</h6>
                        <p class="c-o-light">Mix a larger quantity of clay (1 cup) with water to form a thick paste.</p>
                        <p class="c-o-light">Apply to the body, wrap in a warm cloth, and leave for 20-30 minutes.</p>
                        <p class="c-o-light">Rinse off in the shower. This helps in detoxifying the skin and tightening it.</p>
                    </div>
                    <div class="info-part">
                        <h6>3 Spot Treatment:</h6>
                        <p class="c-o-light">Apply a small amount of clay paste to blemishes or acne.</p>
                        <p class="c-o-light">Leave it overnight and rinse in the morning.</p>
                    </div>
                    <div class="info-part">
                        <h6>4 Bath Soak:</h6>
                        <p class="c-o-light">Add 1/2 to 1 cup of clay to your bathwater and soak for 15-20 minutes.</p>
                        <p class="c-o-light">Helps to detoxify the skin and soothe inflammation.</p>
                    </div>
                </div>
            </div>

            <div class="row my-5 mx-4">
                <div class="col-md-6">
                    {% comment %} <h1 class="mb-4 custom-title-font"> How to Use </h1> {% endcomment %}
                    <h5 class="sub-title custom-sub-title-font">For Internal Use</h5>
    
                    <div class="info-part">
                        <h6>1 Digestive Aid:</h6>
                        <p class="c-o-light">Mix 1 teaspoon of clay in a glass of water and let it sit for 10-15 minutes.</p>
                        <p class="c-o-light">Drink it on an empty stomach, 1-2 times a week.</p>
                        <p class="c-o-light">Always consult with a healthcare provider before ingesting calcium bentonite clay.</p>
                    </div>
                    <div class="info-part">
                        <h6>2 Oral Care:</h6>
                        <p class="c-o-light">Use a pinch of clay on a wet toothbrush.</p>
                        <p class="c-o-light">Brush gently and rinse well.</p>
                        <p class="c-o-light">Helps to remove toxins from the mouth and freshen breath.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product-slider owl-carousel owl-theme" id="sync1">
                        <div class="item">
                            <figure class="text-center">
                                <img class="img-fluid" style="max-height: 322px !important;" src="{% static 'assets/images/landing/apply.jpeg' %}" alt="user">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row my-5 mx-4">
                <div class="col-md-6">
                    <h1 class="mb-4 custom-title-font"> When to Use </h1>
    
                    <div class="info-part">
                        <p><span class="f-w-600 font-dark">• Face Masks:</span> Once or twice a week for normal skin; every 10-14 days for sensitive skin.
                        </p>
                    </div>
                    <div class="info-part">
                        <p><span class="f-w-600 font-dark">• Spot Treatments:</span> As needed to target blemishes.
                        </p>
                    </div>
                    <div class="info-part">
                        <p><span class="f-w-600 font-dark">• Body Wraps:</span> Once a month for detoxification.
                        </p>
                    </div>
                    <div class="info-part">
                        <p><span class="f-w-600 font-dark">• Bath Soaks:</span> Once or twice a month to relax and cleanse the skin.
                        </p>
                    </div>
                    <div class="info-part">
                        <p><span class="f-w-600 font-dark">• Internal Use:</span> No more than once or twice per week, and only with food-grade clay.
                        </p>
                    </div>
    
                </div>
                <div class="col-md-6">
                    <div class="product-slider owl-carousel owl-theme" id="sync1">
                        <div class="item">
                            <figure class="text-center">
                                <img class="img-fluid" style="max-height: 300px !important;" src="{% static 'assets/images/landing/whenuse_benetonite.png' %}" alt="user">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="shop-category-slider mx-3 my-5">
                <div class="text-center fw-bold mb-5">
                    <h1 class="custom-title-font">How to store</h1>
                </div>
                <div class="row">
                    <div class="col mx-2">
                        <a class="shop-box" href="#!">
                            <img class="h-100 w-100 rounded-pill" src="{% static 'assets/storingsysbol/cooldark.png' %}" alt="phone">
                        </a>
                        <span class="m-t-10 category-title f-w-500 text-gray">Cool, Dark Place</span>
                        <span class="m-t-10 category-title f-w-500 text-gray">Keep in a Cool, Dry Place: Store the clay in an airtight container, away from direct sunlight and humidity.</span>
                    </div>
                    <div class="col mx-2">
                        <a class="shop-box" href="#!">
                            <img class="h-100 w-100 rounded-pill" src="{% static 'assets/storingsysbol/Tightly-Sealed.png' %}" alt="phone">
                        </a>
                        <span class="m-t-10 category-title f-w-500 text-gray">Avoid Using Metal Utensils</span>
                        <span class="m-t-10 category-title f-w-500 text-gray">Always use wooden, plastic, or glass bowls and utensils when mixing or storing the clay, as metal can react with the clay and reduce its effectiveness.</span>
                    </div>
                    <div class="col mx-2">
                        <a class="shop-box" href="#!">
                            <img class="h-100 w-100 rounded-pill" src="{% static 'assets/storingsysbol/self-life.jpg' %}" alt="phone">
                        </a>
                        <span class="m-t-10 category-title f-w-500 text-gray">Shelf Life</span>
                        <span class="m-t-10 category-title f-w-500 text-gray">Properly stored calcium bentonite clay can last indefinitely since it doesn’t spoil. Just make sure to keep the container sealed when not in use to avoid contamination.</span>
                    </div>
                </div>
            </div>
    
            <div class="landing-title text-center my-5">
                <h5 class="sub-title custom-sub-title-font">Precautions</h5>
                <p class="c-o-light">Do a Patch Test: If you have sensitive skin, always perform a patch test on a small area before applying it to your face or body.</p>
                <p class="c-o-light">Avoid Metal Tools: Metal can reduce the effectiveness of the clay, so always use non-metallic tools for mixing.</p>
                <p class="c-o-light">Consult Before Ingesting: If you’re pregnant, nursing, or have a pre-existing health condition, consult with a healthcare professional before using it internally.</p>
                <p class="c-o-light">Stay Hydrated: When using clay, especially internally, make sure to drink plenty of water to help flush out toxins.</p>

            </div>

            <div class="landing-title text-center my-5">
                <h5 class="sub-title custom-sub-title-font">Calcium bentonite clay is a versatile and powerful natural remedy, suitable for various beauty and health routines.</h5>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
