{% extends "base.html" %}
{% load static %}

{% block title %}
Brightening Peeling Mask
{% endblock title %}



{% block top-content %}
  <div class="row justify-content-center">
      <div class="col-lg-8 col-sm-10">
          <div class="content text-center">
              <div>
                  <h6 class="content-title"><img class="arrow-decore"
                      src="https://admin.pixelstrap.com/cuba/assets/images/landing/decore/arrow.svg" alt="">
                      <span class="sub-title mb-5 custom-sub-title-font">Discover Natural and Modern Skincare</span>
                  </h6>
                  {% comment %} <h1 class="wow fadeIn">Kumkumadi Oil</h1> {% endcomment %}
              </div>
          </div>
      </div>
      <div class="col-xl-7 col-lg-8 col-md-10 text-center">
          {% comment %} <img class="screen1 img-fluid" style="max-width: 60% !important;"
              src="/static/assets/images/landing/screen5.webp" alt=""> {% endcomment %}
      </div>
  </div>
{% endblock top-content %}

{% block content %}
<div class="page-wrapper compact-wrapper" id="pageWrapper">


    <div class="container-fluid">
        <div>
            <div class="row product-page-main p-0">
                <div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="product-slider owl-carousel owl-theme" id="sync1">
                                        <div class="item d-flex justify-content-center">
                                            <figure class="h-50 w-50"
                                                style="background-image: url(../assets/images/ecommerce/01.jpg)">
                                                <img class="img-fluid" style="max-height: 300px !important;" src="{% static 'assets/images/ecommerce/01.jpg' %}"
                                                    alt="user">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 w-full">
                                    <div class="landing-title">
                                        {% comment %} <h3>Women's Top</h3> {% endcomment %}
                                        <h2><span class="custom-title-font">Brightening Peel of Mask</span></h2>
                                    </div>
                                    <p>This brightening peel-off mask combines the brightening power of Vitamin C, the purifying benefits of Seaweed Extract, and the soothing properties of Licorice Extract. It’s designed to rejuvenate and refresh the skin, giving a glowing and even complexion. The mask forms a film when applied, which is peeled off to remove impurities, dead skin cells, and excess oil. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
    
            <div class="card">
                <div class="card-header card-no-border">
                    <div class="header-top">
                        <h5 class="custom-title-font">Key Ingredients and Benefits</h5>
                        {% comment %} <div class="card-header-right-btn"><a class="c-o-light" href="#!">View
                                All </a></div> {% endcomment %}
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div class="slider-wrapper arrow-round">
                        <div class="swiper shop-category-slider mx-3">
                            <div class="swiper-wrapper d-flex justify-content-between">
                                <div class="swiper-slide mx-2">
                                    <a class="shop-box" href="#!">
                                        <img class="h-50 w-50" src="{% static 'assets/Ingredients/scandalwood.png' %}" alt="phone">
                                    </a>
                                    <span class="m-t-10 category-title f-w-500 text-gray">Antioxidant</span>
                                </div>
                                <div class="swiper-slide mx-2">
                                    <a class="shop-box" href="#!">
                                        <img class="h-50 w-50" src="{% static 'assets/Ingredients/Saffron.png' %}" alt="Camera">
                                    </a>
                                    <span class="m-t-10 category-title f-w-500 text-gray">Brightening</span>
                                </div>
                                <div class="swiper-slide mx-2">
                                    <a class="shop-box" href="#!">
                                        <img class="h-75 w-75" src="{% static 'assets/Ingredients/Turmeric.png' %}" alt="phone">
                                    </a>
                                    <span class="m-t-10 category-title f-w-500 text-gray">Collagen Booster</span>
                                </div>
                                <div class="swiper-slide mx-2">
                                    <a class="shop-box" href="#!">
                                        <img class="h-75 w-75" src="{% static 'assets/Ingredients/Jasmine.png' %}" alt="Camera">
                                    </a>
                                    <span class="m-t-10 category-title f-w-500 text-gray">Detoxifying</span>
                                </div>
                                <div class="swiper-slide mx-2">
                                    <a class="shop-box" href="#!">
                                        <img class="h-100 w-100" src="{% static 'assets/Ingredients/BlackMustardSeed.png' %}" alt="phone">
                                    </a>
                                    <span class="m-t-10 category-title f-w-500 text-gray">Hydrating</span>
                                </div>
                                <div class="swiper-slide mx-2">
                                    <a class="shop-box" href="#!">
                                        <img class="h-75 w-75" src="{% static 'assets/Ingredients/Lotus.png' %}" alt="Camera">
                                    </a>
                                    <span class="m-t-10 category-title f-w-500 text-gray">Mineral-Rich</span>
                                </div>
                                <div class="swiper-slide mx-2">
                                    <a class="shop-box" href="#!">
                                        <img class="h-75 w-75" src="{% static 'assets/Ingredients/SesameSeedOil.png' %}" alt="phone">
                                    </a>
                                    <span class="m-t-10 category-title f-w-500 text-gray">Anti-inflammatory</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row my-5 mx-4">
                <div class="col-md-6">
                    <div class=" text-center">
                        <h5 class="sub-title mb-4 custom-sub-title-font">Benefits of Brightening Peel-Off Mask</h5>
                        <p class="f-24 mb-4 custom-title-font">
                            The Brightening Peel-Off Mask is suitable for all skin types and is specially designed to detoxify, brighten, and rejuvenate the skin. It effectively removes impurities, leaving a radiant glow.
                        </p>
                        <p> • Removes impurities and dead skin cells for a smoother complexion.</p>
                        <p> • Brightens skin tone and reduces dark spots.</p>
                        <p> • Hydrates and nourishes with essential minerals.</p>
                        <p> • Soothes redness and irritation.</p>
                        <p> • Promotes a glowing, refreshed look.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product-slider owl-carousel owl-theme" id="sync1">
                        <div class="item">
                            <figure class="">
                                <img class="img-fluid" src="{% static 'assets/images/landing/vitamin-c.png' %}" alt="user">
                            </figure>
                        </div>
                    </div>
                </div>
                <p class="f-24 custom-title-font text-center">
                    This mask can be used directly on the skin for deep cleansing and brightening. Regular use, especially in the evening, revitalizes the skin, leaving it smooth, glowing, and refreshed.
                </p>
            </div>

            <div class="landing-title text-center my-5">
                <h5 class="sub-title custom-sub-title-font">Your Guide to Radiant Skin</h5>
                <h2 class="custom-title-font">Comprehensive Guide - Using, Storing, Timing.</h2>
                <p>Here is a comprehensive guide on using, storing, and timing the application of Brightening Peel-Off Mask to maximize
                    its benefits</p>
            </div>
    
            <div class="row my-5 mx-4">
                <div class="col-md-6">
                    <div class="product-slider owl-carousel owl-theme" id="sync1">
                        <div class="item">
                            <figure class="text-center">
                                <img class="img-fluid" style="max-height: 322px !important;" src="{% static 'assets/images/landing/peelofmask.jpg' %}" alt="user">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h1 class="mb-4 custom-title-font"> How to Use </h1>
    
                    <div class="info-part">
                        <h6>1 Cleanse:</h6>
                        <p class="c-o-light">Start by cleansing your face with a gentle face wash to remove any dirt and makeup.</p>
                    </div>
                    <div class="info-part">
                        <h6>2 Application:</h6>
                        <p class="c-o-light">Apply an even layer of the peel-off mask to your face, avoiding the eyes, eyebrows, and lips.</p>
                        <p class="c-o-light">Make sure the layer is thick enough for easy peeling.</p>
                    </div>
                    <div class="info-part">
                        <h6>3 Relax:</h6>
                        <p class="c-o-light">Allow the mask to dry completely. This usually takes about 20-30 minutes.</p>
                    </div>
                    <div class="info-part">
                        <h6>4 Peel Off:</h6>
                        <p class="c-o-light">Gently peel the mask starting from the edges and moving towards the center.</p>
                    </div>
                    <div class="info-part">
                        <h6>5 Aftercare:</h6>
                        <p class="c-o-light">Rinse off any residue with lukewarm water and follow up with a toner and moisturizer.</p>
                    </div>
                </div>
            </div>
    
            <div class="row my-5 mx-4">
                <div class="col-md-6">
                    <h1 class="mb-4 custom-title-font"> When to Use </h1>
    
                    <div class="info-part">
                        <p><span class="f-w-600 font-dark">• Use 1-2 Times Weekly:</span> Use 1-2 times a week for best results.
                        </p>
                    </div>
                    <div class="info-part">
                        <p><span class="f-w-600 font-dark">• Evening Application for Best Results:</span> Ideal to apply in the evening after your skin has been exposed to daily stressors like pollution or sunlight.
                        </p>
                    </div>
                    <div class="info-part">
                        <p><span class="f-w-600 font-dark">• Avoid Sun Exposure After Use:</span> Avoid using right before going out in the sun as Vitamin C can make your skin more sensitive to sunlight.
                        </p>
                    </div>
    
                </div>
                <div class="col-md-6">
                    <div class="product-slider owl-carousel owl-theme" id="sync1">
                        <div class="item">
                            <figure class="text-center">
                                <img class="img-fluid" style="max-height: 300px !important;" src="{% static 'assets/images/landing/whenuse_peel_of.png' %}" alt="user">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="shop-category-slider mx-3 my-5">
                <div class="text-center fw-bold mb-5">
                    <h1 class="custom-title-font">How to store</h1>
                </div>
                <div class="row">
                    <div class="col mx-2">
                        <a class="shop-box" href="#!">
                            <img class="h-100 w-100 rounded-pill" src="{% static 'assets/storingsysbol/cooldark.png' %}" alt="phone">
                        </a>
                        <span class="m-t-10 category-title f-w-500 text-gray">Store in a Cool, Dry Place</span>
                        <span class="m-t-10 category-title f-w-500 text-gray">Store the product in a cool, dry place away from direct sunlight.</span>
                    </div>
                    <div class="col mx-2">
                        <a class="shop-box" href="#!">
                            <img class="h-100 w-100 rounded-pill" src="{% static 'assets/storingsysbol/Tightly-Sealed.png' %}" alt="phone">
                        </a>
                        <span class="m-t-10 category-title f-w-500 text-gray">Keep Container Tightly Closed</span>
                        <span class="m-t-10 category-title f-w-500 text-gray">Keep the container tightly closed to prevent the mask from drying out.</span>
                    </div>
                    <div class="col mx-2">
                        <a class="shop-box" href="#!">
                            <img class="h-100 w-100 rounded-pill" src="{% static 'assets/storingsysbol/self-life.jpg' %}" alt="phone">
                        </a>
                        <span class="m-t-10 category-title f-w-500 text-gray">Avoid High Humidity Areas</span>
                        <span class="m-t-10 category-title f-w-500 text-gray">A bathroom cabinet is fine, but avoid areas with high humidity to maintain the product’s effectiveness.</span>
                    </div>
                </div>
            </div>
    
            <div class="landing-title text-center my-5">
                <h5 class="sub-title custom-sub-title-font">This mask, when used regularly, can help in achieving a brighter, clearer, and more even-toned complexion while keeping the skin hydrated and soothed.</h5>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
