<footer class="footer-bg">
    <div class="container">
      <div class="landing-center ptb50">
        {% comment %} <div class="feature-content">
          <ul> 
            <li> 
              <h4>Trending Template</h4><img src="/static/assets/images/landing/feature-img.png" alt="leaf golden">
            </li>
            <li> 
              <h4>Overall Best rated Template</h4><img src="/static/assets/images/landing/feature-img.png" alt="leaf golden">
            </li>
            <li> 
              <h4>Weekly Best Seller</h4><img src="/static/assets/images/landing/feature-img.png" alt="leaf golden">
            </li>
          </ul>
        </div> {% endcomment %}
        {% comment %} <div class="landing-title">
          <h2>Build a <span class="gradient-13">stunning site </span> today</h2>
          <p>The Cuba Bootstrap Admin Theme Trusted By Many Developers World Wide.If You like Our Template So Please Rate Us.</p>
        </div> {% endcomment %}
        <div class="footer-content">
          <ul class="license-list">
            <li> <img src="https://admin.pixelstrap.com/cuba/assets/images/landing/icon/right.svg" alt="Right icon">
              <h6>Natural and Organic Ingredients</h6>
            </li>
            <li> <img src="https://admin.pixelstrap.com/cuba/assets/images/landing/icon/right.svg" alt="Right icon">
              <h6>Eco-Friendly Packaging</h6>
            </li>
            <li> <img src="https://admin.pixelstrap.com/cuba/assets/images/landing/icon/right.svg" alt="Right icon">
              <h6>Cruelty-Free Products</h6>
            </li>
          </ul>
        </div>
      </div>
      <div class="sub-footer row g-2">
        <div class="col-md-6"> 
          <h6 class="mb-0">Copyright © 2024 Akshada Ayurveda, All rights reserved.</h6>
        </div>
        <div class="col-md-6"> 
          <ul> 
            <li> 
              <h6 class="mb-0">Find us on</h6>
            </li>
            <li><a href="https://www.instagram.com/akshadaayurveda?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="> <i class="fa-brands fa-instagram"></i></a></li>
            <li> <a href="https://www.facebook.com/AkshadaAyurveda/"><i class="fa-brands fa-facebook"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>